[startDate]
# 开学第一周周一日期
year = 2019
month = 9
day = 9

[URP]
# URP 教务系统的地址以及登录信息
url = http://urp.npumd.cn/
username = 
password = 

[time]
# 每节课的上下课时间，以逗号分隔
startTime = 08:30, 09:25, 10:25, 11:20, 14:00, 14:55, 15:50, 16:45, 19:00, 19:55, 20:50
endTime   = 09:15, 10:10, 11:10, 12:05, 14:45, 15:40, 16:35, 17:30, 19:45, 20:40, 21:35

#星期名缩写
weekName = MO, TU, WE, TH, FR, SA, SU
